---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import Layout from "../layouts/Layout.astro";
import MailIcon from "../icons/mail.astro";
---

<Layout title="Portfolio Axel">
  <main>
    <section
      class="w-full rounded-2xl mx-auto lg:w-[800px] py-14 px-10 shadow-2xl"
    >
      <img
        class="rounded-full size-12 mb-5"
        src="https://avatars.githubusercontent.com/u/114163660?v=4"
        alt="axeldev photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hi! I'm Axel
        <a
          href="https://www.linkedin.com/in/axel-maidana-9b4b2b308/a"
          target="_blank"
          rel="noopener"
          class="justify-center flex items-center"
        >
          <Badge>Im Working</Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity-90 text-gray-300 text-wrap">
        I am a 20 year old passionate<span class="text text-purple-200">
          web developer</span
        >
        <span class="text-cyan-300"> from Argentina</span>. My mission is to <span
          class="text-white"
          >create impactful and functional digital experiences that captivate
          users</span
        >. Welcome to my digital corner, where creativity and innovation meet."
      </h2>

      <nav class="flex gap-x-3 mt-4">
        <SocialPill href="https://www.linkedin.com/in/axel-maidana-9b4b2b308/a">
          <LinkedInIcon class="size-6" />LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/AxelMaidana">
          <GitHubIcon class="size-6" />GitHub
        </SocialPill>
        <SocialPill href="https://mail.google.com/axelmaidana">
          <MailIcon class="size-6" />Mail
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
