<span
  class="bg-purple-300 dark:bg-purple-900 dark:text-purple-900
  text-black text-xs font-medium
  me-2 px-1 py-1
  rounded-md
  transition
  hover:scale-105 hover:shadow-xl hover:bg-purple-300"
>
  <slot />
</span>
