<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
  <div class="rounded-full w-12 h-12 mb-5">🥶</div>
  <nav class="flex flex-row gap-x-10 text-white/70 opacity-80">
    <a class="hover:scale-105 hover:text-white" href="/">Home</a>
    <a class="hover:scale-105 hover:text-white" href="/about">About</a>
    <a class="hover:scale-105 hover:text-white" href="/proyects">Proyects</a>
    <a class="hover:scale-105 hover:text-white" href="/contact">Contact</a>
  </nav>
</header>
