<a
  class="bg-white/5
  text-white/20
  rounded-full border border-white/30
  flex justify-center items-center
  gap-x-1 py-2 px-4
  transition
  hover:scale-110 hover:shadow-xl hover:bg-white/10 hover:text-white"
  {...Astro.props}
  target="_blank"
  rel="noonpener noreferrer"
>
  <slot />
</a>
